  /*  form {
        display: flex;
        flex-direction: column;
    }*/

    label {
        margin-bottom: 70px;
        font-weight: bold;
        margin-right: 100px;
       
    }
    .msgRegister{
        font-size: 15px;
        text-align: center;
        margin-top: 20px;
    }
    input {
        /*padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;*/
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .text-danger{
        display: block;
        color:rgb(247, 251, 251);
        padding: 10px;
        background: rgb(214, 22, 22);
        border-radius: 3px;
        text-align: center;
    }